.character-card {
  &:hover {
    .character-card__content {
      transform: translateX(50px);
    }
    .character-card__caption {
      opacity: 1;
      transform: translateX(0px);
      transition: transform 0.8s, opacity 0.1s;
    }
  }
}
